<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="/lib/twitter-bootstrap@4.5.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container p-1 m-1 text-center">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
